.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

main {
	min-height: 80vh;
}

.footer {
	background: #2c0346;
	color: #ffffff;
	padding: 20px;
}

a.nav-link:focus,
a.nav-link:active,
a.nav-link:visited {
	color: #550ded !important;
}

.searchbar,
.searchbar-button {
	display: flex;
	background: rgba(234, 234, 255, 0.75);
	border: 2px solid rgb(234, 234, 255);
	border-radius: 0px;
	color: #000000;
}

.searchbar-text {
	background: rgba(234, 234, 255, 0.4);
}

.buy-tickets-button {
	float: right;
	background: #550ded !important;
	border: #550ded !important;
}

.get-tix-header {
	float: left;
	font-weight: bold;
	background: #ffffff;
}
.dropdown-toggle {
	margin: 5px;
}

.draw-tickets-button {
	float: right;
	background: #550ded !important;
	border: #550ded !important;
	margin: 5px;
}
.vote-card-footer {
	background: #ffffff;
}

.get-tickets-col {
	display: grid;
	justify-content: center;
}

.item {
	background: white;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
}

.item:hover {
	cursor: pointer;
	background: #f5f6f7;
}

h3 {
	text-align: left;
	padding-left: 10px;
	margin: 10px 0;
}

.grab {
	cursor: grab;
}
.grabbing {
	cursor: grabbing;
	border: 1px dotted;
}

.element {
	height: 50px;
	width: 50px;
	border: 1px solid #000000;
}

.box {
	display: flex;
	width: 100%;
}
